<nav class="navbar navbar-light bg-primary" style="display:flex;justify-content: space-between;">
  <div style="width: 40%;display: inline-block;align-self: center;"><h4 >Library Management System</h4></div>
  
  <div style=" width: 40%; display: inline-block;align-self: center;">
    <input
      type="text"
      class="form-control"
      placeholder="Please enter a book name or author."
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
      style="width: 80%; display: inline-block"
    />
    <button class="btn btn-primary" type="button">Ara</button>
  </div>
  
</nav>
